
<header>
  <a href="/home">
    <img src="../imgs/LCONCUR.png">
  </a>
  <section class="account">
    <!--<a hrerf="/communities" class="button">COMMUNITIES</a>
    <a hrerf="/conversations" class="button">CONVERSATIONS</a>-->
    <a href="../users/<%=user.id%>">
      <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="<%=user.avatar%>" />
      </div>
    </a>
    </div>
  </section>
</header>