<%- include('partials/head') -%>

<header>
    <a href="/profile">
      <img src="../imgs/LCONCUR.png">
    </a>
    <section class="account">
        <a href="/login" class="button">LOGIN/SIGN UP</a>
      
      </div>
    </section>
  </header>
<div class="index">
    <h1>
        A TOOL FOR COMMUNITY BASED DECISION MAKING 
    </h1>
    
    </section>
    <section id="pbIntro"> 
        <h2>Based on the Participatory Budgeting Model</h2>
        <img src="/imgs/PB-Process-Cycle-Diagrmo.png">
    </section>
    <section class="features">
        <h3>WITH CONCUR YOUR <br>COMMUNITY CAN:</h3>
        <section>
            <i class="fa-solid fa-file"></i>
            <span>Create proposals with ease.</span>
        </section>
        <section>
            <i class="fa-solid fa-database"></i>
            <span>Have an easily accessible proposal database </span>
        </section>
        <section>
            <i class="fa-solid fa-check-to-slot"></i>
            <span>Vote on proposals</span>
        </section>
        <section>
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Promote transparency within your decision making processes</span>
        </section>
</div>
<%- include('partials/footer') -%>

