<%- include('partials/head') -%>
<%- include('partials/header') -%>
<div class="mainProfile">
    <section class="sidebar">
        <span>PROFILE</span>
        <span>COMMUNITIES</span>
            <ul>
                <li>MY COMMUNITIES</li>
                <li>START A COMMUNITY</li>
            </ul>   

        <span>PROPOSALS</span>
            <ul>
                <li>MY PROPOSALS</li>
                <li>LIKED PROPOSALS</li>
            </ul>
    </section>
    <section class="userIDCard">

    </section>
    <section class="accordion">
    
        <div class="item">
            <div class="communityID">
                <img src="https://f9ir.github.io/acc/acc/img/Location-Pin.png" alt="">
                <h3>Location</h3>
            </div>
            <div class="communityStats">
                <p class>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
            </div>
         </div>
         <div class="item">
             <img src="https://f9ir.github.io/acc/acc/img/Headphones.png" alt="">
             <h3>Music</h3>
        </div>
         <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
         <div class="item">
             <img src="https://f9ir.github.io/acc/acc/img/Lightbulb.png" alt="">
             <h3>Notes</h3>
        </div>
             <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
        <!-- <div class="item">
             <img src="https://f9ir.github.io/acc/acc/img/Bookmarks.png" alt="">
             <h3>Books</h3>
        </div>
             <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
         <div class="item">
             <img src="https://f9ir.github.io/acc/acc/img/Lightning-Bolt.png" alt="">
             <h3>Tendances</h3>
        </div>
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p> -->
    </section>
</div>
