* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    /* font-size: 1.5rem; */
}

/* PROPOSAL FEED LAYOUT*/
div.main {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    grid-template-rows: .25fr 3fr 1fr;
    column-gap: 1%;
    grid-template-areas:
        ". nav nav"
        "sidebar proposals proposals"
        "footer footer footer";
    padding: 0px .5%;
}

footer {
    grid-area: footer;
    background-color: darkgreen;
}

.hidden {
    display: none;
}

.button {
    border-radius: 20px;
    background: #cccf14;
    color: white;
    font-size: 1.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
    /* align-self: center; */
    width: 100%;
    margin-bottom: 10%;
    font-weight: bold;
    text-align: center;
    dispaly: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}



.material-symbols-outlined {
    margin-right: 2%;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48
}



/* PROPOSAL NAV*/
nav {
    grid-area: nav;
    /* padding-right:5%; */
    /* padding-left:60%; */
    /* padding-top:2%; */
    /* padding-bottom:2%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}

nav li {
    list-style-type: none;
    float: left;
    font-size: 1.75rem;
    border-left: 2px solid;
    padding: 0px 23px;
}

li#new {
    font-weight:bold;
}

.main nav li:hover {
    font-weight:bold;
}
/* FEED SIDE BAR */
div.sidebar {
    grid-area: sidebar;
    background: white;
    border-radius: 5%;
    margin-bottom: 5%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

section#filters {
    background-color: #ffde59;
    padding: 3%;
    border-radius: 5%;
    margin-bottom: 10%;
}

section#stats {
    background-color: #ffde59;
    padding: 3%;
    border-radius: 5%;
}

#filters label, select {
    font-size: 3rem;
}

select {
    width: 100%;
    border: 2px solid green;
}

#propNum {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

@media screen and (max-width: 2500px) {
    #filters label, select {
        font-size:1.5rem;
    }
}

/* PROPOSALS FEED*/
div#proposals {
    grid-area: proposals;
    background-color: #f3fadc;
    border-radius: 5%;
    margin-bottom: 3%;
    overflow: hidden;
    padding: 3%;
}

/* FEED - SUBMITTED PROPOSALS*/

section.proposal {
    border-bottom: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    overflow: auto;
}

.proposal h3#title {
    font-size: 1.5rem;
    color: #006400;
    float:left;
    margin:0px;
}

.proposal span#cost {
    font-size: 1.5rem;
    color: #006400;
    float:left;
    margin-left: 5%;
}

.proposal span#shortDes{ 
    width:100%;
    float:left;
    margin-top:2%;
}

.button#fullPropButton {
    width: 20%;
    font-size: .75rem;
    padding: 1%;
    background: #006400;
    float:left;
    margin-bottom:0px;
    margin-top:1%;
    box-shadow: none;
    border: none;
}

section.details {
    border-right: 2px solid green;
    width: 90%;
}

form.voting {
    width: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
}

button#upVote {
    color: #006400;
    font-size: 3rem;
    background: transparent;
    border: 0px;
}

#numLikes {
    font-size: 2rem;
    color:#006400;
}

/* PROPOSAL CREATION FORM */
fieldset#proposalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 6fr 1fr 9fr 1fr 24fr 1fr;
    column-gap: 2%;
    row-gap: 1%;
    grid-template-areas:
        "nameLabel nameLabel costLabel"
        "name name cost"
        "blurbLabel blurbLabel blurbLabel"
        "blurb blurb blurb"
        "impactLabel impactLabel partnerLabel"
        "impactStatement impactStatement partner"
        "descriptionLabel descriptionLabel descriptionLabel"
        "description description description"
        "submit submit submit";
    border: 2px transparent;
    padding: 3%;
}

legend {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    font-size: 2rem;
}

button.submit {
    margin-left: auto;
    margin-right: auto;
    grid-area: submit;
    font-size: 1.5rem;
    background: darkgreen;
    color: white;
    font-weight: bold;
    padding: .5%;
}

fieldset#proposalInfo textarea {
    resize: none;
    overflow: scroll;
}

fieldset#proposalInfo label {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

input, textarea, option {
    margin-bottom: 0;
    border: 2px solid darkgreen;
    font-size: 2.5em;
}

#proposalInfo .material-symbols-outlined {
    margin-left: 2%;
}

#propNameLabel {
    grid-area: nameLabel;
}

#propCostLabel {
    grid-area: costLabel;
}

#propBlurbLabel {
    grid-area: blurbLabel;
}

#propImpactLabel {
    grid-area: impactLabel;
}

#propPartnersLabel {
    grid-area: partnerLabel;
}

#propFullLabel {
    grid-area: descriptionLabel;
}

#propName {
    grid-area: name;
}

#propCost {
    grid-area: cost;
}

#propBlurb {
    grid-area: blurb;
}

#propImpact {
    grid-area: impactStatement;
}

#propPartners {
    grid-area: partner;
}

#propFull {
    grid-area: description;
    height: 24fr;
    max-height: 36fr;
}

#top {
    border-left: 0;
}


@media screen and (max-width: 2500px) {
    fieldset#proposalInfo {
        grid-template-rows: .25fr .5fr .25fr 1fr .25fr 1.25fr .25fr 3fr .25fr;
    }

    input, textarea , option {
        font-size: 1rem;
        border-radius: 5px;
    }
}

/* FULL PROJECT PROPOSAL*/
div.fullProposal {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .25fr 3fr 1fr;
    column-gap: 3%;
    grid-template-areas:
        "info sidebar"
        "info sidebar"
        "info sidebar";
    padding: 3%;
}
section#fullPropInfo {
    grid-area: info;
    background-color:#f2fbdc;
    padding:1% 2% 1% 2%;;
    border-radius: 20px;
    box-shadow: 10px 10px #006400;
}

section#propSidebar {
    grid-area: sidebar;
    

}

section#propSettings{
    background-color: #ffde59;
    box-shadow: 10px 10px #f9c90a;
    border-radius: 20px;
    padding:4% 8% 4% 8%;
}


section#fullPropInfo h3{
    font-weight:bold;
    font-size:3rem;
    color:#006400;
}

section#fullPropInfo h5{
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color: #006400;
    color:#006400;
    margin-bottom: 1%;
    margin-top: 3%;
}

/* PROFILE DASHBOARD PAGE */

div.mainProfile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 2fr 3fr;
    column-gap: 3%;
    row-gap: 3%;
    grid-template-areas:
        "profileNav content1"
        "profileNav content2"
        "profileNav content2";
    padding: 3%;
}

.mainProfile section.sidebar {
    grid-area: profileNav;
    width:100%;
    background-color:#ffde59;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 5%;
    flex-wrap: wrap;
}

.mainProfile section.sidebar > span {
    border-bottom: 2px solid lightyellow;
    margin-bottom: 5%;
    padding:5% 0 5% 0;
    font-weight: bold;
}
.mainProfile section.sidebar li {
    border-bottom: 2px solid lightyellow;
    margin-bottom: 5%;
    padding:5% 0 5% 0;
    list-style-type: none;
}
section.userIDCard {
    grid-area: content1;
    width:100%;
    background-color: #e4f577;
    border-radius: 20px;
}
section.accordion {
    grid-area: content2;
    width: 100%;
}
    /* COMMUNITY ID CARDS */

    /*@font-face {
        font-family: "JF Flat Regular";
        src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot');
        src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.woff') format('woff'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    */
    .accordion {
        width: 380px;
        background: transparent;
        cursor: pointer;
    }
    .accordion .item {
        height: 100px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
    .accordion .item h3 {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        padding-left: 50px;
        font-family: "JF Flat Regular";
        font-size: 20px;
        font-weight: 400;
    }
    .accordion .item img {
        padding-left: 15px;
        width: 30px;
        vertical-align: middle;
    }
    .accordion .item h3:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .accordion .item:first-of-type {
        background: #9dcd5a;
    }
    .accordion .item:nth-of-type(2) {
        background: #60941a;
        color: #ffe9c1;
    }
    .accordion .item:nth-of-type(3) {
        background: #f4ce74;
        color: #620808;
    }
    .accordion .item:nth-of-type(4) {
        background: #ffe9c1;
        color: #d5441c;
    }
    .accordion .item:last-of-type {
        background: #32620e;
        color: #ffe9c1;
    }
    .accordion p {
        font-family: "JF Flat Regular";
        font-size: 18px;
        font-weight: 400;
        padding: 15px;
        display: none;
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
    }
    .accordion p:first-of-type {
        background: #620808;
        color: #f4ce74;
    }
    .accordion p:nth-of-type(2) {
        background: #a53f3f;
        color: #ffe9c1;
    }
    .accordion p:nth-of-type(3) {
        background: #f4ce74;
        color: #620808;
    }
    .accordion p:nth-of-type(4) {
        background: #ffe9c1;
        color: #d5441c;
    }
    .accordion p:last-of-type {
        background: #d5441c;
        color: #ffe9c1;
    }


