div.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr 3fr 1fr;
    column-gap: 5%;
    grid-template-areas: 
    "header header header"
    ". nav nav"
    "sidebar proposals proposals"
    "footer footer footer"
}

div#fullProposal {
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: auto;
    column-gap: 5%;
    grid-template-areas: 
    "proposal author"
}

footer {
    grid-area: footer;
    background-color: crimson;
}

.hidden {
    display:none;
}

.button {
    border-radius: 20%;
    background: #cccf14;
    color:white;
    font-size:2.5rem;
    padding-left:15%;
    padding-right:15%;
    padding-top:5%;
    padding-bottom:5%;
    align-self: center;
}

header .button {
    font-size: 1.5rem;
    background: #ffde59;
    color:black;
    padding-left:10%;
    padding-right:10%;
}

.material-symbols-outlined {
    margin-right:2%;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

header {
   grid-area: header;
   background-color: darkgreen;
   display:flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   padding-left:3%;
   padding-right:3%;
}

section.account {
    width:40%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}

div.avatar {
    margin-left:3%;
    width:16%;
}

div.w-24.rounded-full.ring.ring-primary.ring-offset-base-100.ring-offset-2{
    display: flex;
    justify-content: flex-end;
}

.avatar .rounded-full img{
    border-radius:100%;
    border: 2px solid green;
    width:100%;
}
/* PROPOSAL NAV*/
nav {
    grid-area: nav;
    padding-right:5%;
    padding-left:60%;
    padding-top:2%;
    padding-bottom:2%;
}
nav ul {
    display:flex;
    justify-content: space-between;
    width:100%;
}

nav li {
    list-style-type: none;
    float: left;
    font-size: 2rem;
}

/* SIDE BAR */

div.sidebar {
    grid-area: sidebar;
    background: #ffde59;
    border-radius: 5%;
    margin-bottom:5%;
}

section#filters {
    background-color: blueviolet;
}

section#stats {
    background-color: coral;
}

/* PROPOSALS */

div#proposals {
    grid-area: proposals;
    background-color: #f3fadc;
    border-radius: 5%;
    margin-bottom:3%;
    padding:3%;
}

section.details {
    border-right: 2px solid green;
}

section.proposal {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}